 <style>
        #logo{
            margin-top: -15px;
        }               
    </style>

        <div class = "navbar navbar-default navbar-top" role = "navigation">
            <div class = "container">
                <div class = "navbar-header">
                    <button type = "button" class="navbar-toggle" data-toggle = "collapse" data-target=".navbar-collapse">
                        <span class = "sr-only">Toggle Navigation</span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                    </button>
                    <a class = "navbar-brand"><img id = "logo" src = "img/lastversionlogo copy.png" width = "90" height = "60"/></a>
                    <a class = "navbar-brand" href="main.jsp">Granny's Tandir</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">                  
                        <li class="active"><a href="main.jsp"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                        <li id = "li2"><a href="main.jsp#about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                        <li><a href="main.jsp#contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
<!--     Contact
        <div class="modal fade" id="contact" roles="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="message.send.do" class="form-horizontal" role="form" method="post">
                        <div class="modal-header">
                            <h4>Contact</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control" id="contact-name" placeholder="First & Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact-email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="userEmail" class="form-control" id="contact-email" placeholder="example@domain.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact-message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="userMessage" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">                            
                            <a class="btn btn-default" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div><!--contact-->